body {
  margin: 0;
}

/* Navbar.css */

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbar-logo .header-title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: -115px;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s;
}

.navbar-menu a:hover,
.navbar-menu a.active-section {
  background-color: #555;
  border-radius: 5px;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navcart-icon {
  color: white;
  font-size: 1.2rem;
  margin-left: 20px;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
  padding: 5px;
  border-radius: 5px;
}

.navcart-icon:hover,
.navcart-icon.active-section {
  color: #ddd;
  background-color: #444;
}


/* FOOTER */
/* Footer.css */

.footer {
  background-color: white;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
}


p {
  margin: 0;
  color: #333;
}


/* Products.css */

.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  overflow: hidden;
  width: calc(25% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-title, .product-price {
  font-size: 1.1rem;
  margin: 10px;
  color: #333;
  text-align: center;
}

.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product:hover .icons {
  opacity: 1;
}

.cart-button {
  background: white;
  border: 2px solid #eaeaea;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-button:hover .cart-icon {
  transform: scale(1.1);
}

.cart-icon {
  color: black;
  font-size: 1.5rem;
}


/*Home*/

.banner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.banner-text h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
}

.banner-text p {
  margin: 10px 0 0;
  font-size: 1.2rem;
  color: white;
}


/*ORDERS*/
.orders-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.orders-list-container {
  width: 70%;
}

.orders-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.orders-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.order-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 16px;
}

.remove-button:hover {
  color: #333;
}

.order-image {
  max-width: 100%;
  height: auto;
}

.order-details {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
}

.quantity span {
  margin: 0 10px;
  font-size: 16px;
}

.order-summary {
  width: 25%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: right;
}

.checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.checkout-button:hover {
  background-color: #0056b3;
}



