body {
  margin: 0;
}

/* Navbar.css */

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbar-logo .header-title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: -115px;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s;
}

.navbar-menu a:hover,
.navbar-menu a.active-section {
  background-color: #555;
  border-radius: 5px;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navcart-icon {
  color: white;
  font-size: 1.2rem;
  margin-left: 20px;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
  padding: 5px;
  border-radius: 5px;
}

.navcart-icon:hover,
.navcart-icon.active-section {
  color: #ddd;
  background-color: #444;
}

/* FOOTER */
/* Footer.css */

.footer {
  background-color: white;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
}

p {
  margin: 0;
  color: #333;
}

/* Products.css */

.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  overflow: hidden;
  width: calc(25% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-title, .product-price {
  font-size: 1.1rem;
  margin: 10px;
  color: #333;
  text-align: center;
}

.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product:hover .icons {
  opacity: 1;
}

.cart-button {
  background: white;
  border: 2px solid #eaeaea;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-button:hover .cart-icon {
  transform: scale(1.1);
}

.cart-icon {
  color: black;
  font-size: 1.5rem;
}

/*Home*/

.home-container {
  width: 100%;
}

.banner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-image-container {
  display: flex;
  transition: transform 1.5s ease;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.banner-text h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
}

.banner-text p {
  margin: 10px 0 0;
  font-size: 1.2rem;
  color: white;
}

.loading-indicator {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: white;
}

/*ORDERS*/

.orders-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.orders-list-container {
  width: 100%;
}

.orders-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.orders-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.order-card {
  position: relative;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-image {
  width: 100px; /* Fixed width for uniform size */
  height: auto;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.order-details-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 10px;
}

.order-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
  font-size: 16px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, background-color 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-button:hover {
  transform: scale(1.1);
  background-color: #f0f0f0;
}

.order-details {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  background-color: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  border-radius: 4px;
}

.quantity button:hover {
  border-color: #007bff;
}

.quantity span {
  margin: 0 10px;
  font-size: 16px;
}

.order-summary {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-summary h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 16px;
  color: #555;
}

.summary-total {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.checkout-button {
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.checkout-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-menu {
    flex-direction: column;
    margin-left: 0;
  }

  .navbar-menu li {
    margin: 5px 0;
  }

  .orders-container {
    flex-direction: column;
  }

  .orders-list-container,
  .order-summary {
    width: 100%;
  }

  .order-summary {
    margin-top: 20px;
  }

  .product {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .navbar-container {
    padding: 10px;
  }

  .navbar-logo .header-title {
    font-size: 1.2rem;
  }

  .navbar-menu {
    flex-direction: column;
    margin-left: 0;
  }

  .navbar-menu li {
    margin: 5px 0;
  }

  .product {
    width: calc(100% - 20px);
  }

  .banner-text h1 {
    font-size: 2rem;
  }

  .banner-text p {
    font-size: 1rem;
  }
}
